table {
    width: 100%;
    margin: 0 10px;
}

.thumbnail {
    height: 20px;
    widows: 20px;
    margin-right: 5px;
    vertical-align: bottom;
}

.coin-id {
    font-size: smaller;
    margin-left: 8px;
}

.redtext {
    color: red;
    font-weight: 500;
}

.greentext {
    color: green;
    font-weight: 500;
}

.cdk-column-curr_price, .cdk-column-per_chn_1h, .cdk-column-per_chn_24h, .cdk-column-per_chn_7d, .cdk-column-mrk_cap {
    text-align: right;
    padding: 10px;
}

td.mat-cell {
    padding: 0 5px;
}

.d-flex {
    display: flex;
}

.coins-id {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.644);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

table.mat-elevation-z8.mat-table {
    margin-top: 77px;
    margin: 77px 10px 10px 8px;
}