table {
    width: 100%;
}

.thumbnail {
    height: 20px;
    widows: 20px;
    margin-right: 5px;
    vertical-align: bottom;
}

.coin-id {
    font-size: smaller;
    margin-left: 8px;
}

.redtext {
    color: red;
    font-weight: 500;
}

.greentext {
    color: green;
    font-weight: 500;
}

.cdk-column-curr_price, .cdk-column-per_chn_1h, .cdk-column-per_chn_24h, .cdk-column-per_chn_7d, .cdk-column-mrk_cap {
    text-align: right;
    padding: 10px;
}

td.mat-cell {
    padding: 0 5px;
}

.d-flex {
    display: flex;
}